body {
   background: linear-gradient(135deg, #4c76e4, #646cff, #2c417a);
   background: linear-gradient(135deg, #000b, #000c, #000);
}

#root {
   align-content: center;
   padding-inline: 1rem;
   min-height: 100vh;
}

.logo:hover {
   filter: drop-shadow(0 0 2em #646cffaa);
   -webkit-filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
   filter: drop-shadow(0 0 2em #61dafbaa);
   -webkit-filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
   a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
      -webkit-animation: logo-spin infinite 20s linear;
   }
}

.todo_card {
   position: relative;
   padding: 2rem 1.5rem;
   max-width: 740px;
   margin-inline: auto;
   background: linear-gradient(to bottom, #fff6, #fffa);
   border-radius: 15px;
   overflow: hidden;
   backdrop-filter: blur(5px);
}

.card {
   padding: 2em;
}

.read-the-docs {
   color: #888;
}

.input_wrap {
   display: flex;
   gap: 0.25rem;
   flex-direction: column;
   margin-bottom: 2rem;
   max-width: 600px;
}

.input_wrap :is(input, textarea) {
   font-size: 1rem;
   font-family: inherit;
   width: 100%;
   padding: 0.5em 1rem;
   border-radius: 10px;
   border: none;
}

.input_wrap textarea {
   flex: 1;
   height: 5.5rem;
   resize: vertical;
}

.input_wrap .submitbtn {
   color: #fff;
   background: #646cff;
}

.list_wrap {
   padding: 1rem 0.75rem;
   background: #fffc;
   border-radius: 10px;
}

.list_wrap table {
   width: 100%;
   border-collapse: collapse;
}

.list_wrap table tr > th {
   font-weight: 600;
}

.list_wrap table tr > td {
   padding: 0.5rem 0.25rem;
   border-top: 1px solid #999;
   /* text-align: center; */
}

.list_wrap table td:last-of-type {
   display: flex;
   justify-content: center;
   /* max-width: 8rem; */
}

.list_wrap table tr.completed {
   text-decoration: line-through;
   color: #888;
   opacity: 0.85;
}

.list_wrap table tr.completed td button[title="Edit"] {
   cursor: not-allowed;
   opacity: 0.5;
}

.list_wrap table tr[class] td:first-of-type:hover {
   cursor: pointer;
   text-decoration: underline;
   text-underline-offset: 3px;
   text-decoration-color: #aaa;
   transition: 0.4s;
}

.list_wrap table tr :is(input, textarea) {
   font-family: inherit;
   padding: 0.5em 0.5rem;
   border: none;
   max-width: 100%;
   width: 100%;
   border-radius: 5px;
}